@charset "ISO-8859-1";

@font-face {
	font-family: 'iran_sans_bold';
	src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
	font-family: 'iran_sans_light';
	src: url('../Fonts/iran_sans_light.woff') format('woff');
}


@font-face {
	font-family: 'iran_sans_medi';
	src: url('../Fonts/iran_sans_medi.woff') format('woff');
}


*{
	font-family: iran_sans_light;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s linear;
}

jsp{
	font-size: 60%;
	overflow: hidden;
	scroll-padding-top: 6rem;
	scroll-behavior: smooth;
}

section{
	padding: 2rem 9%;
}

.home{
	padding: 0;
	position: relative;
}

.home .slide-container .slide{
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 0 9%;
	padding-top: 9rem;
}

.home .slide-container .slide .content{
	flex: 1 1 40rem;
	animation: slideContent .5s linear .1s backwards;
}

@keyframes slideContent{
	0%{
		opacity: 0;
		transform: translateX(-10rem);
	}
}

.home .slide-container .slide .image{
	flex: 1 1 50rem;
	padding-bottom: 2rem;
	position: relative;
	z-index: 0;
	
}

.home .slide-container .slide .image .shoe{
	width: 100%;
	transform: rotate(-25deg);
	animation: shoe .3s linear;
}

@keyframes shoe{
	0%{
		transform: rotate(0deg) scale(.5);
	}
}
.home .slide-container .slide .content span{
	font-size: 1.7rem;
	color: mediumslateblue;
	font-weight: bold;
}

.home .slide-container .slide .content h3{
	font-size: 5rem;
	color: #000;
}

.home .slide-container .slide .content p{
	font-size: 1rem;
	color: #666;
	padding: .5rem 0;
	text-align: justify;
}


.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: .5rem;
	border: .2rem solid #000;
	font-weight: bolder;
	font-size: 1rem;
	color: #000;
	cursor: pointer;
	background: #fff;
	padding: .8rem 3rem;
}

.home .slide-container{
	display: none;
}

.home .slide-container.active{
	display: block;
}

.home #prev, .home #next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	height: 5rem;
	width: 5rem;
	line-height: 5.5rem;
	font-size: 2rem;
	color: #000;
	border: .2rem solid #000;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.home #prev:hover, .home #next:hover{
	color: #fff;
	background: mediumslateblue;
}

.home #prev{
	left: 3rem;
}

.home #next{
	right: 3rem;
}

@media (max-width:1366px){
	
	.home #prev, .home #next{
		display: none;
	}

	.home .slide-container .slide .image{
	
		display: none;
	}
}
	
@media (min-width:1366px) and (max-width: 1900px){
	.home .slide-container .slide .image .shoe{
		width: 50%;
	}
}
